@media screen {
  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  .background-image {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: url("../images/pokemon-background.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.6;
  }

  .wrapper {
    background: rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
    position: relative;
  }

  .title {
    color: #140f0e;
    font-family: "Lora", serif;
    font-size: 30px;
  }

  .sub-title {
    color: #140f0e; /* Change Color */
    font-family: "Lora", serif;
    font-size: 20px;
  }

  .align-center {
    overflow: auto;
    text-align: center;
  }

  .align-left {
    overflow: auto;
    text-align: left;
  }

  .team-align {
    text-align: left;
    padding-left: 50px;
  }

  .pokemon-align {
    text-align: left;
    padding-left: 100px;
  }

  .team-title {
    text-decoration: none;
    color: black;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .top-medium-spacing {
    padding-top: 20px;
  }

  .top-small-spacing {
    padding-top: 10px;
  }

  .top-xsmall-spacing {
    padding-top: 5px;
  }

  .bottom-medium-spacing {
    padding-bottom: 20px;
  }

  .button {
    width: 236px;
    padding: 7px;
  }

  .failure-text {
    color: red;
  }

  .line-break {
    border-top: 2px solid #ccc;
  }

  .input-text {
    font-size: 1.5em;
    padding: 5px;
    margin: 5px auto;
  }

  .left-spacing {
    margin-left: 10px;
  }

  .back-arrow {
    position: absolute;
    top: 0px;
    left: 5px;
    background: url("../images/back-arrow.png") no-repeat center center;
    height: 50px;
    width: 50px;
  }

  .clear-sides {
    clear: both;
  }

  .pokemon-card {
    position: relative;
    float: left;
    width: 31%;
    height: 250px;
    margin: 10px;
    background: rgba(204, 204, 204, 0.3);
  }

  .pokemon-name {
    margin: 10px 0 20px 0;
    text-transform: uppercase;
  }

  .pokemon-image {
    margin: auto;
    /* display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%; */
  }
}
