.background-image {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 527px;
    width: 550px;
    background-image: url("../images/charizard.png");
    background-repeat: no-repeat;
}

.text {
    width: 50%
}

.clickables {
    margin-top: 70px;
}

h1 {
    color: #3B4CCA;
    font-size: 40px;
}

a {
    text-decoration: none;
    color: #FF0000;
    float: left;
    margin-right: 10px;
}

a:hover {
    background-color: #FFDE00;
    border-radius: 8px;
}