<h1>New Team</h1>
<form action="/teams" method="POST">
    <label for="name">Name:</label>
    <br>
    <input type="text" name="teams[name]" id="name" />
    <br>
    <label for="size">Size:</label>
    <br>
    <input type="text" name="teams[size]" id="size" />
    <br>
    <input type="submit" value="Create Team" />
</form>