<a href="/users/<%=session[:user_slug]%>"><img class="back-arrow" src="/images/back-arrow.png" /></a>

<h2 class="sub-title top-medium-spacing bottom-medium-spacing">New Team</h2>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<div class="line-break">
    <div class="top-medium-spacing">
        <form action="/teams" method="POST">
            <label for="name">Name:</label>
            <br>
            <input class="input-text" type="text" name="teams[name]" id="name" />
            <br>
            <div class="top-small-spacing"></div>
            <label for="size">Size:</label>
            <br>
            <input class="input-text" type="number" name="teams[size]" id="size" />
            <br>
            <input class="input-text" type="submit" value="Create Team" />
        </form>
    </div>
</div>