<form method="post" action="/users/<%=@user.slug%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name<input type="text" value="<%=@user.name%>" name="users[name]">
  <input type="submit" value="submit">
</form>
