<h2 class="sub-title top-medium-spacing bottom-medium-spacing">Log In</h2>

<div class="line-break">
    <div class="top-medium-spacing">
        <form action="/users/login" method="POST">
            <label for="username">Username: </label>
            <br>
            <input class="input-text" type="text" name="users[username]" id="username" />
            <br>
            <div class="top-small-spacing">
            </div>
            <label for="password">Password: </label>
            <br>
            <input class="input-text" type="password" name="users[password]" id="password" />
            <br>
            <input class="input-text" type="submit" id="submit" value="Log In" />
        </form>
    </div> <!-- end top-spacing -->
</div> <!-- end line-break -->