<h2 class="sub-title top-medium-spacing bottom-medium-spacing">Sign Up</h2>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<div class="line-break">
    <div class="top-medium-spacing">
        <form action="/users" method="POST">
            <label for="name">Name:</label>
            <br>
            <input class="input-text" type="text" name="users[name]" id="name" />
            <br>
            <label for="username">Username:</label>
            <br>
            <input class="input-text" type="text" name="users[username]" id="username" />
            <br>
            <label for="name">Password:</label>
            <br>
            <input class="input-text" type="password" name="users[password]" id="password" />
            <br>
            <input class="input-text" type="submit" value="Sign Up" />
        </form>
    </div>
</div