<!DOCTYPE html>
<html>
<head>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="text">
        <h1>Welcome to the Pokemon Team Tracker</h1>

        <div class="clickables">
            <a href="/users/new"><p>Sign Up</p></a>
            <a href="/users/login"><p>Log In</p></a>
        </div>
    </div>

    <div class="background-image">
    </div>
</body>
</html>