<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/images/charizard-browser.png">
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
</head>
<body>
    <div class="wrapper align-center">
        <h1 class="title">Pokemon Team Tracker</h1>
        <%= yield %>
    </div>

    <div class="background-image">
    </div>
</body>
</html>