<!DOCTYPE html>
<html>
<head>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
</head>
<body>
    <%= yield %>

    <div class="background-image">
    </div>
</body>
</html>