<!DOCTYPE html>
<html>
<head>
    <title>Pokemon Team Tracker</title>
    <link rel="icon" href="/images/charizard-browser.png">
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
</head>
<body>
    <div class="wrapper align-center">
        <h1 class="title">Pokemon Team Tracker</h1>
        <%= yield %>
        <footer class="clear-sides">
            <div class="top-medium-spacing"></div>
            <div class="line-break"></div>
            <div class="top-small-spacing"></div>
            <p class="align-left"><small>&copy; 2018 <strong>PokemonTeamTracker</strong></small></p>
        </footer>
    </div>

    <div class="background-image">
    </div>
</body>
</html>